
.inputTag {
    color: #626262;
    padding: 1rem 0 0 0.2rem;
    background: #fff!important;
    border-bottom: 1px solid #f2ece7!important;
    font-size: .8rem;
    width: 97%;
    height: 1.875rem!important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline: 0;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    box-sizing: content-box;
    background-color: transparent

}
.inputTag:focus{
    border-bottom: 1px solid #0c4678!important;
    box-shadow: none!important;
    padding: 1rem 0 0 .2rem;
    background-color: #fff!important;
    width: 97%;
    height: 1.875rem!important
}
.subdiv2{
   
    margin-left: 17%;
}
.formDiv>h2{
    color: #053c6d;
    font-size: .8rem;
    font-weight: 700;
}
.label{
    color: #053c6d;
    font-size: .8rem;
    font-weight: 700;
}

.borderBottom {
    width:100%;
    margin-bottom: 20px;
    height:60px;
    box-shadow: 0 5px 13px -8px rgb(93 91 91 / 75%);
    padding: 0.75rem 0;
}
.backButton{
   
   
    color: #f37e20;
    background-color: transparent;
    border: 1px solid #f37e20;
    background-color: white;
    height: 35px;
    margin-left: 35px;
    border-radius: 50px;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    padding: 12.5px 34px;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    text-align: center;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -ms-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    cursor: pointer;
  

}
.details{
    margin-top: 50px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.details>h3{
    font-size: 1.25rem;
    color: #053c6d;
    margin-bottom: 1.5rem;
    font-weight: 700;
}
.backButton:hover{
  border-color:white;
  border: 1px solid white;
  color:white;
  background-color:  #f37e20;
}

.formDiv{
    margin-left: 20px;
}
.formDiv >form>h3{
    font-size: 1.25rem;
    color: #053c6d;
    margin-bottom: 1.5rem;
    font-weight: 700;
}
.marginBottom{
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.card{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 25px;
    height:500px;
    width:100%;
    display: flex;
    justify-content: center;
}
.card h3{
    font-size: 1.25rem;
    color: #053c6d;
    margin-bottom: 1.5rem;
    font-weight: 700;
}